@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --font-color-light-mode: #4D4D4D;
  --font-color-dark-mode: #fdfdfd;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: var(--font-color-dark-mode);
}

.wrapper {
  text-align: center;
  padding: 80px 20px;
}

.nav_links li {
  text-decoration: none;
  list-style: none;

  display: inline-block;
  padding: 0px 10px; /* Space between the nav links. Seperate 0px (top/bottom) from 10px (right/left) with a space, NOT A COMMA*/
}

.nav_links li a {
  color: var(--font-color-dark-mode);
  font-size: 18pt;
  font-weight: 600;
}

.logo-text {
  color: var(--font-color-dark-mode);
  font-size: 24pt;
  font-weight: 400;
}

h1 {
  color: var(--font-color-dark-mode);
  font-size: 36pt;
}

p {
  font-size: 16pt;
  color: var(--font-color-dark-mode);
}

body {
  background: linear-gradient(-45deg, #280a58, #3e1db8, #087fce, #ff9036);
  /* background: linear-gradient(-45deg, #824dff, #5f9fff, #4274d3, #e730ff); */
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.resume {
  width: 40%;
  min-width: 255px;
  height: 950px;
}

.vimeo-iframe {
  min-width: 255px;
  width: 35%;
  height: 400px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}